<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单的输入绑定</title>
	<script src="../vue.js"></script>
</head>
<body>
	<div id="app">
		<fieldset>
			<legend>基础用法</legend>
			<div id="example-1">
				<p>可以用v-model指令在表单&lt;input&gt;及&lt;textarea&gt;元素上创建双向数据绑定。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。</p>
				<p>v-model会忽略所有表单元素的value、checked、selected特性的初始值而总是将Vue实例的数据作为数据来源</p>
				<h3>文本</h3>
				<input v-model="message_1" placeholder="edit me">
				<p>Message is: {{ message_1 }}</p> <!--message需在data中定义-->
				<h3>多行文本</h3>
				<span>Multiline message is:</span>
				<p style="white-space: pre-line;">{{ message_2 }}</p>
				<br>
				<textarea v-model="message_2" placeholder="add multiple lines"></textarea>
				<div><mark>在文本区域插值 (&lt;textarea&gt;&lt;/textarea&gt;) 并不会生效，应用 v-model 来代替</mark></div>
				<h3>复选框</h3>
				<input type="checkbox" id="checkbox" v-model="checked">
				<label for="checkbox">{{ checked }}（checked的初始值应在Vue实例中设置）</label>
				<h4>多个复选框绑定到同一个数组</h4>
				<div>
				  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
				  <label for="jack">Jack</label>
				  <input type="checkbox" id="john" value="John" v-model="checkedNames">
				  <label for="john">John</label>
				  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
				  <label for="mike">Mike</label>
				  <br>
				  <span>Checked names: {{ checkedNames }}（绑定的是多选框的value值）</span>
				</div>
				<h3>单选按钮</h3>
				<div>
				  <input type="radio" id="one" value="One" v-model="picked">
				  <label for="one">One</label>
				  <br>
				  <input type="radio" id="two" value="Two" v-model="picked">
				  <label for="two">Two</label>
				  <br>
				  <span>Picked: {{ picked }}（绑定的是单选框的value值）</span>
				</div>
				<h3>选择框</h3>
				<div>
					<h4>单选时：</h4>
				  	<select v-model="selected_1">
				  		 <!--单选时提供一个值为空的禁用选项-->
				    	<option disabled value="">请选择</option>
				    	<option value="test">A</option>
				    	<option>B</option>
				    	<option>C</option>
				  	</select>
				  	<span>Selected: {{ selected_1 }}</span>
				</div>
				<div>
					<h4>多选时 (绑定到一个数组)：</h4>
				  	<select v-model="selected_2" multiple style="width: 50px;">
				    	<option>A</option>
				    	<option>B</option>
				    	<option>C</option>
				  	</select>
				  	<br>
				 	<span>Selected: {{ selected_2 }}</span>
				</div>
				<div>
					<h4>用v-for渲染的动态选项：</h4>
					<select v-model="selected_3">
					  	<option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
					</select>
					<span>Selected: {{ selected_3 }}</span>
				</div>
			</div>
			<script type="text/javascript">
				var example1 = new Vue({
					el: "#example-1",
					data:{
						message_1: '',
						message_2: '',
						checked: true,
						checkedNames: [],
						picked: '',
						selected_1: '',
						selected_2: [],
						selected_3: 'A',
						options: [
					      { text: 'One', value: 'A' },
					      { text: 'Two', value: 'B' },
					      { text: 'Three', value: 'C' }
					    ]
					}
				});
			</script>
		</fieldset>

		<fieldset>
			<legend>值绑定</legend>
			<div id="example-2">
				<div>
					<h3>复选框</h3>
					<input
					  	type="checkbox"
					  	v-model="toggle"
					  	true-value="yes"
					  	false-value="no"
					/>
					<div>
						// 当选中时<br />
						example2.toggle === 'yes'<br />
						// 当没有选中时<br />
						example2.toggle === 'no'
					</div>
				</div>
				<div>
					<h3>单选按钮</h3>
					<input type="radio" v-model="pick" v-bind:value="a">
					<div>
						// 当选中时 <br />
						example2.pick === example2.a
					</div>
				</div>
				<div>
					<h3>复选框的选项</h3>
					<select v-model="selected">
					    <!-- 内联对象字面量 -->
					  	<option v-bind:value="{ number: 123 }">123</option>
					  	<option v-bind:value="{ number: 456 }">456</option>
					</select>
					<div>
						// 当选中option选项时 <br />
						typeof example2.selected  => 'object' <br />
						// 当选中第一个option时 <br />
						example2.selected.number  => 123 <br />
						// 当选中第二个option时 <br />
						example2.selected.number  => 456
					</div>
				</div>
			</div>
			<script type="text/javascript">
				var example2 = new Vue({
					el: "#example-2",
					data: {
						toggle: '',
						pick: '',
						a: '选a了',
						selected: ''
					}
				});
			</script>
		</fieldset>

		<fieldset>
			<legend>修饰符</legend>
			<div id="example-3">
				<div>
					<h3>.lazy</h3>
					<p>在默认情况下，v-model 在每次 input 事件触发后将输入框的值与数据进行同步 (除了输入法组合文字时)。添加 lazy 修饰符，可以转变为使用 change 事件进行同步：</p>
					<!-- 在“change”时而非“input”时更新 -->
					<input v-model.lazy="msg" >
					<p>msg: {{ msg }}（现在在input框输入文字信息不会改变同步改变了，只有“change”时会更新信息）</p>
				</div>
				<div>
					<h3>.number</h3>
					<p>如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：</p>
					<input v-model.number="age" type="number">
					<p>input框在 type="number" 时，HTML 输入元素的值也总会返回字符串</p>
				</div>
				<div>
					<h3>.trim</h3>
					<p>要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：</p>
					<input v-model.trim="msg">
				</div>
			</div>
			<script type="text/javascript">
				var example3 = new Vue({
					el: '#example-3',
					data: {
						msg: 'lazy',
						age: 18,
					}
				});
			</script>
		</fieldset>

		<fieldset>
			<legend>在组件上使用v-modle</legend>
			<div>迟点再看</div>
		</fieldset>
	</div>
</body>
</html>